body
{
	margin: 0;
}
.ajith
{
	height: 200px;
	width: 200px;
	background: red;
	margin:0;
	position:relative;
	top:10px;
	left:0px;
	
}
.warp
{
	height: 400px;
	width: 400px;
	background: pink;
	
	position:absolute;
	right:200px;
}